#uservoice_sidebar {
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 96px;
    z-index: 10000;
}

#uservoice_handle {
    width: 32px;
    height: 145px;
    background: #00cbeb;
    float: left;
    cursor: pointer;
}

#uservoice_handle > p {
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    padding: 0 7px;
    margin-top: 5px;
}

#uservoice_voice {
    float: right;
    display: none;
    width: 230px;
    height: 315px;
    overflow: hidden;
    background: #fff;
    border-color: #00cbeb;
    border-width: 1px 0 1px 1px;
    border-style: solid;
 }

#uservoice_iframe {
    display: none;
    border: none;
    width: 100%;
    height: 100%;
}

body#uservoice {
    padding: 0;
    margin: 0;
    background: #fff;
}

#uservoice_content {
    margin: 10px;
}

#uservoice_form textarea {
    width: 200px;
    height: 180px;
}

body#uservoice p {
    width: 210px;
    font-weight: bold;
    font-size: 93%;
    margin-bottom: 5px;
}

body#uservoice p.footer {
    font-size: 76.9%;
    font-weight: normal;
}
